@font-face
{
  font-family: 'ProzaLibreRegular';
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: 'Neocyr';
  font-weight: normal;
  font-style: normal;
} 

html
{
	background: linear-gradient(white 420px, #686868);
	height: 100%;
}
body
{
	margin: 0px;
	border: 0px;
	width: 100%;
}

h1
{
  font-family: 'Neocyr';
  font-size: 78pt;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

h2
{
  font-family: 'ProzaLibreRegular';
  font-size: 14pt;
  color: #686868;
  text-align: left;
  padding-left: 45%;
}

h3
{
  font-family: 'ProzaLibreRegular';
  font-size: 16pt;
  color: white;
  text-align: center;
}

h4
{
  font-family: 'ProzaLibreRegular';
  font-size: 14pt;
  color: #686868;
  text-align: center;
}

p
{
	font-family: 'ProzaLibreRegular';
	padding-top: 5%;
	padding-left: 20%;
	padding-right: 20%;
}
